* {
    border: none;
    border-radius: 0;
    font-family: MonaspiceArNerdFont, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #dedede;
}

#workspaces button {
    padding: 5px;
    color: #888888;
    margin-right: 5px;
}

#workspaces button.active {
    color: #dedede;
}

#workspaces button.focused {
    color: #dedede;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    border-radius: 10px;
}

#workspaces button:hover {
    color: #11111b;
    color: transparent;
    background: transparent;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #121212;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #121212;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #dedede;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #dedede;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: #dedede;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #dedede;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #dedede;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
